@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    font-family: "Inter" , sans-serif;
}
section{

    min-height: 100vh;
    background-size: cover;
    background-position: senter;
    position: relative;
}
#main{
    background-image: url("img/bgMAIN.png");
}#about{
    background-image: url("img/bgABOUT.png");
}
#skills{
    background-image: url("img/bgSKILLS.png");
}
#works{
    background-image: url("img/bgWORKS.png");
}
#comments{
    background-image: url("img/bgCOMMENTS.png");
}
.main-block,
.about-block,
.skills-block,
.works-block,
.comments-block{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
.main-block{
    flex-direction: column;
    height: 100hv;
    

}

.name{
    background-image: url(img/form1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 50px;
    min-width: 400px;
    font-size: 20px;
    background-size: contain;
    padding-top: 25px;
    padding-left: 5px;
    margin: 0px;
}

.button{
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(247, 0, 255);
    color: black;
    
}
